<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
        Hello, this is Anurag. And I hope that you guys lilke my blog. I am studying BSD and this is a part of my assignment.
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>VERY SOON </h2>
      <p>LOADING </p>
    </aside>
  </div>
</div>